


body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Geologica";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

html {
  height: 100%;
}



.header {
  width: 100%;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 343px;
  margin: 0 auto;
  min-height: 70px;
}

@media (min-width: 1440px) {
  .header__box {
    width: 1200px;
    min-height: 90px;
  }
}

.header__link:hover {
  opacity: 0.7;
}

.header__link:active {
  opacity: 0.5;
}

.header__demo-access {
  padding: 11px 17px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(252, 103, 51, 1);
  border-radius: 100px;
  text-decoration: none;
}

.header__demo-access:hover {
  background-color: rgba(252, 103, 51, 0.7);
}

.header__demo-access:active {
  background-color: rgba(252, 103, 51, 0.5);
}

.header__navigation-toggle {
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.header__navigation-toggle:hover .header__navigation-toggle-image{
  opacity: 0.7;
}

.header__navigation-toggle:active .header__navigation-toggle-image {
  opacity: 0.5;
}

.footer {
  width: 100%;
  background-color: blue;
  min-height: 200px;
}
